#posts-index img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui;
}


header {
  background-color: black;
  color: white;
  padding: 1em;
}


header a {
  margin-right: 1em;
  padding: 0.5em;
  color: inherit;
  text-decoration: none;
}


header a:hover {
  background-color: gray;
  border-radius: 0.1em;
}


footer {
  background-color: gray;
  padding: 2em;
  margin-top: 1em;
  text-align: center;
}

#new-student input,
textarea,
url {
  font-size: 1.4em;
  height: 28px;
  width: 500px;
  border-radius: 5px;
  margin-bottom: 15px;
}

label {
  display: inline-block;
  width: 70px;
}

form button {
  height: 30px;
  width: 60px;
  margin: 6px 10px 0 0;
  background-color: rgb(229, 183, 65);
  border-radius: 5px;
}

main {
  max-width: 60em;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#posts-index {
  margin-top: 50px;
}

#submit {
  background-color: rgb(229, 183, 65);
  height: 30px;
}